.game {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* see registration.css => .registration-bg 
for explanations */
.game-bg {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: rotate(90deg) translateY(-100%);
    /* image size is 800 x 600 so... 800/600=100/75 */
    height: 75vh;
    width: 100vh;
    background-size: cover;
    background-image: url("../../assets/img/background/Background-game.gif");
    background-repeat: no-repeat;
    background-position: bottom left;
    margin: 0;
    padding: 0;
    border: 0;
}

.matchmaking-transition-screen {
    background-image: url("../../assets/img/transition/Match-making.gif");
    background-size: contain;
    background-repeat: repeat-y;
    background-position: 50% 30%;

    position: absolute;
    top: -20vh;
    left: -10vw;
    height: 120vh;
    width: 120vw;
    opacity: 0;
    transition: opacity 1s;
    z-index: 3;
}

.matchmaking-transition-screen--enter {
    opacity: 1;
    transition: opacity 1s;
}

.matchmaking-transition-screen--exit {
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s;
}

.matchmaking-transition-screen .loader-dots {
    position: absolute;
    bottom: 0;
    left: 180px;
}

.loader-dots {
    margin: 0;
    padding: 0.5em 2.2em 0.5em 1em;
    border-radius: 0.3em;
    color: #fff;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.329);
    display: block;
    transform: translateX(-50%) translateY(-50%);
    font: 300 1em/1.5 "Lato", sans-serif;
    letter-spacing: 1px;
    width: fit-content;
    height: fit-content;
}

.loader-dots:after {
    content: "....";
    width: 0;
    position: absolute;
    overflow: hidden;
    animation: loader-dots-animation 1s infinite;
}

@keyframes loader-dots-animation {
    0% {
        width: 0em;
    }
    50% {
        width: 1.2em;
    }
    100% {
        width: 0em;
    }
}

.game__content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game__content .title {
    margin: 5px;
}

.game__content__match {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.game__content__match > img {
    margin: -30%;
}

.select-wrapped {
    display: flex;
    flex-direction: column;
}

.select-wrapped--enemy {
    align-items: flex-start;
}

.select-wrapped--player {
    align-items: flex-end;
}

.round {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    color: #f5bc00;
    font-size: 25px;
    text-shadow: 1px 2px 3px #000000;
    letter-spacing: 0px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.player-name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    font-weight: bold;
    color: #f5bc00;
    font-size: 20px;
    text-shadow: 1px 2px 3px #000000;
    letter-spacing: 0px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.score {
    margin: 10px;
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    font-weight: bold;
    color: #f5bc00;
    font-size: 20px;
    text-shadow: 1px 2px 3px #000000;
    letter-spacing: 0px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}

.game__modal-result {
    color: black;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 5px;
    text-align: center;
    transform: translateY(80px);
    width: 80vw;
    animation-name: result-message;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: linear;
}

.game__modal-result h1 {
    grid-row-start: 1;
    grid-column-start: 1;
    text-shadow: 10px 10px 20px rgba(40, 0, 44, 0.705);
}

.game__modal-result h1:nth-child(1) {
    color: #947100;
    /*text-shadow: -1px -1px 12px black;*/
    transform: translate3d(0);
}
.game__modal-result h1:nth-child(2) {
    color: #b98e01;
    /*text-shadow: -3px -3px 12px black, 3px 3px 12px black;*/
    transform: translate3d(-4px, -4px, 14px);
}
.game__modal-result h1:nth-child(3) {
    color: #f5bc00;
    /*text-shadow: 2px 2px 15px black;*/
    transform: translate3d(-8px, -8px, 18px);
}

@keyframes result-message {
    0% {
        font-size: 5px;
        transform: translateY(80px);
    }
    50% {
        font-size: 100px;
        transform: translateY(-30px) rotate3d(1, 1, 1, 180deg);
    }
    75% {
        font-size: 55px;
        transform: translateY(10px) rotate3d(0, 1, 0, 270deg);
    }
    100% {
        font-size: 60px;
        transform: translateY(0) rotate3d(1, 1, 1, 360deg);
    }
}

@media (max-width: 320px) {
    /* iPhone 5/SE */
    .game__content .title {
        font-size: 25px;
    }
}

@media (min-width: 641px) {
    .game-bg {
        height: 100vw;
        width: 100vh;
    }
    .matchmaking-transition-screen {
        background-repeat: repeat;
        background-size: 300px 200px;
        background-position: 50% 38%;
    }
    .matchmaking-transition-screen .loader-dots {
        left: 280px;
    }
}

@media (max-height: 602px) {
    .game__content {
        overflow-y: scroll;
        justify-content: flex-start;
    }
}

@media (min-width: 961px) {
    .game-bg {
        transform: rotate(0) translateY(0);
        height: 100vh;
        width: 100vw;
    }
}
