body {
    background-color: black;
    overflow: hidden;
}

.project-enri-emi {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.transition-screen {
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    transition: opacity 0.8s;
    z-index: 3;
}

.transition-screen--exit {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s;
}

.game-transition-screen {
    background-image: url("./assets/img/rocket.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 3;
}

.game-transition-screen--enter {
    opacity: 1;
    transition: opacity 0.3s;
}

.game-transition-screen--exit {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}
