.select__button {
    align-items: center;
    background-color: #4c002e;
    border: 7px double #f5bc00;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    width: 120px;
}

.select__button img {
    height: min-content;
    max-height: 100px;
}

.select .select__button {
    box-shadow: 5px 5px 20px rgba(40, 0, 44, 0.856);
}

.select-modal {
    height: 35vh;
    overflow-y: scroll;
    border-top: 2px solid #f5bc00;
    border-bottom: 2px solid #f5bc00;
    box-shadow: 20px 20px 20px rgba(40, 0, 44, 0.705);
}

.select-modal::-webkit-scrollbar {
    display: none;
}

.choice {
    margin: 0;
    /* margin-bottom: 10px; */
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    color: #f5bc00;
    text-transform: uppercase;
}
