.scoreboard {
    background: transparent;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
    width: 80vw;
    max-height: 60vh;
    overflow: hidden;
}

.scoreboard h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    color: #f5bc00;
    font-size: 25px;
    text-shadow: 1px 2px 3px #000000;
    letter-spacing: 0px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.scoreboard__list {
    box-shadow: 0 2px 0 #ac4444;
    overflow-y: auto;
    width: 100%;
}

/* width */
.scoreboard__list::-webkit-scrollbar {
    display: none;
}

.scoreboard__buttons {
    box-shadow: 0 2px 0 #ac4444;
    background-color: #ac4444;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.scoreboard__buttons > button {
    display: block;
    font-size: 17px;
    flex-grow: 1;
    margin: 0;
    padding: 9px;
    background-color: #ac4444;
    border-radius: 5px;
    border: 9px solid #c74545;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.scoreboard__buttons >button:hover{
    background-color: #8a4040;
}