.scoreboard {
    background: transparent;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-height: 60%;
    overflow: hidden;
}

.scoreboard h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Inter-SemiBold", "Inter", sans-serif;
    color: #f5bc00;
    font-size: 25px;
    text-shadow: 1px 2px 3px #000000;
    letter-spacing: 0px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.scoreboard__list {
    box-shadow: 0 2px 0 #ac4444;
    overflow-y: auto;
    width: 100%;
}

/* width */
.scoreboard__list::-webkit-scrollbar {
    display: none;
}

.scoreboard__buttons {
    align-items: center;
    background-color: #ac4444;
    box-shadow: 0 2px 0 #ac4444;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
}

.scoreboard__buttons > button {
    background-color: #ac4444;
    border: 9px solid #c74545;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    flex-grow: 1;
    font-size: 17px;
    font-weight: bold;
    height: 100%;
    letter-spacing: 2px;
    margin: 0;
    padding: 9px;
    outline: none;
    text-shadow: none;
    text-transform: uppercase;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.scoreboard__buttons > button:hover {
    background-color: #8a4040;
}

@media only screen and (min-height: 768px) {
    .scoreboard h2 {
        font-size: 30px;
    }

    .scoreboard__buttons > button {
        font-size: 23px;
    }
}

@media only screen and (min-width: 700px) and (min-height: 1000px) {
    .scoreboard {
        font-size: 21px;
    }

    .scoreboard h2 {
        font-size: 35px;
    }

    .scoreboard__buttons > button {
        font-size: 29px;
    }

    .scoreboard .searchbar input {
        font-size: 27px;
    }
}
