.searchbar {
    background-color: #c74545;
    display: flex;
    width: 100%;
}

.searchbar input {
    flex-grow: 1;
    border-width: 0 0 1px 0;
    margin: 15px 10px 15px 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ac4444;
    border-style: none;
    text-shadow: none;
    text-transform: uppercase;
    color: #f5eded;
    letter-spacing: 2px;
    outline: none;
}

.searchbar input::-webkit-input-placeholder {
    color: #ffffff;
    letter-spacing: 2px;
}

.searchbar input:focus {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #8a4040;
}

.searchbar input:hover {
    background-color: #8a4040;
}

@media only screen and (min-height: 768px) {
    .searchbar input {
        font-size: 21px;
    }
}
